:host{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
  height: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

/* Estilo general para el contenedor de tabs */
    .tab-container {
      display: inline-flex;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    width: auto;
    align-self: center;
    padding: 4px;
    }

    /* Estilo de las pestañas individuales */
    .tab {
      padding: 10px 20px;
      cursor: pointer;
      background-color: #e0e0e0; /* Fondo gris para no seleccionados */
      border: none;
      outline: none;
      font-size: 16px;
      transition: background-color 0.3s;
      border-radius: 25px; /* Borde redondeado */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* Estilo para la pestaña seleccionada */
    .tab.selected {
      background-color: #ffffff; /* Fondo blanco para seleccionado */
      color: #000000; /* Texto negro para seleccionado */
    }

    /* Estilo para cambiar el color del texto y el cursor */
    .tab:not(.selected):hover {
      background-color: #d0d0d0; /* Fondo más oscuro al pasar el ratón */
    }

.container {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  box-sizing: border-box;
}

.dashboard-item{
    border: 1px solid var(--color-primary-500);
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dashboard-item:hover{
    background: var(--color-primary-50);
}

.dashboard-item .title{
    font-size: 15px;
    font-weight: 600;
    color: var(--color-neutral-900)
}

.dashboard-item .description{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}