@import url("../design-system.css");

span {
    color: var(--color-primary-600);
}
#container {
    display: flex;
    align-items: center;
}
.white {
    color: white;
}

.neutral {
    color: var(--color-neutral-500);
}
